<nav class="navbar navbar-light bg-dark" id="brand">
  <a class="navbar-brand" href="#">MSITE</a>
  <div class="nav navbar-right" id="menus">
    <div class="navbar-nav">
      <ul class="menuslist">
        <li><a class="nav-item nav-link active" routerLink="home">Home<!-- <span class="sr-only">(current)</span>--></a></li>
        <li><a class="nav-item nav-link" routerLink="Shop">Shop</a></li>
        <li><a class="nav-item nav-link" routerLink="Login">Contact</a></li>
       <!-- <li><a class="nav-item nav-link" routerLink="shopcatgory/category">Category</a></li>
        <li><a class="nav-item nav-link" routerLink="Login">Login</a></li>-->
        <li>
          <a class="nav-item nav-link">
            <i class="fa fa-shopping-cart">
              <!--<app-allproducts *ngFor ="let product of products"></app-allproducts>-->
              
            </i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<div id="footermenus">
    <nav class="nav navbar bg-dark">
        <footer>
          <a href="#">SiteMap</a>&nbsp;<a href="#">Menus</a>
          <h6>© COPYRIGHT 2018 MSITE</h6>
        </footer>
      </nav>
</div>